doctype html
html#ng-app(xmlns:ng='http://angularjs.org', ng-app='app', lang='en-us')
    head
        meta(charset='UTF-8')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='keywords', content='bdate')
        meta(http-equiv='Cache-Control', content='no-cache')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='msapplication-square70x70logo', content='img/ico/smalltile.png')
        meta(name='application-name', content='bdate')
        base(href="/bdate/")
        link(rel='shortcut icon', href='img/ico/favicon.ico')
        link(rel='icon', href='img/ico/favicon.ico', type='image/x-icon')
        link(rel='shortcut icon', href='img/ico/favicon.ico', type='image/x-icon')
        link(rel='apple-touch-icon-precomposed', sizes='72x72', href='img/ico/apple-touch-icon-72x72-precomposed.png')
        link(rel='apple-touch-icon-precomposed', href='img/ico/apple-touch-icon-57x57-precomposed.png')
        link(href='bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet', media='all')
        link(href='bower_components/bdate/dist/bdate.css', rel='stylesheet', media='all')
        link(rel='stylesheet', type='text/css', href='styles/normalize.css', media='screen')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
        link(rel='stylesheet', type='text/css', href='styles/stylesheet.css', media='screen')
        link(rel='stylesheet', type='text/css', href='styles/github-light.css', media='screen')
        link(rel='stylesheet', type='text/css', href='styles/style.css', media='screen')
        script(src='bower_components/angular/angular.min.js', type='text/javascript')
        script(src='bower_components/bdate/dist/bdate.min.js', type='text/javascript')
        script(src='index.js', type='text/javascript')
        <!--[if lt IE 9]>
        script(src='bower_components/json3/lib/json3.min.js', type='text/javascript')
        <![endif]-->
        title bDate - backend-driven angularjs datepicker
    body
        #content_view
            #demo_page(ng-controller="IndexPageCtrl")
                section.page-header
                    h1.project-name Bdate
                    h2.project-tagline
                    a.btn(href='https://github.com/Light241/bdate') View on GitHub
                    a.btn(href='https://github.com/Light241/bdate/zipball/master') Download .zip
                    a.btn(href='https://github.com/Light241/bdate/tarball/master') Download .tar.gz
                section.main-content
                    hgroup
                        h1What is this?
                        p This is angularjs datepicker (like [angular-ui datepicker][2]) but with one serious difference:
                            | bDate Datepicker **didn't** count any date on client side, it **works only with provided (json) data**.
                        h2 But why?
                        p There is many reasons. Mostly because sometimes you may want to set available ranges of dates from the backend. For example: you may set only aug and sept of 2014, and jan of 2015. There is do nothing with timezones - server say what is today and etc.
                    section#common_case
                        hgroup
                            h1 Common case
                            h3 Simple form and simple datepicker
                        .case_description
                            | This is common case. Data provided with "demoData" object and result saves to the "resultModel" object.
                        form#demo_simple_form(name="demo_simple_form")
                            .form-group
                                label.control-label(for="bdatepicker_1") Date
                                bdatepicker(b-input-id="bdatepicker_1", b-model="resultModel", b-source="demoData")
                            button.btn.btn-info(type="submit")
                                | The result is
                                | &nbsp;
                                span(ng-bind="resultModel")
                    section#wait_for_data_case
                        hgroup
                            h1 Wait for remote data case
                            h3 Datepicker wait for remote data
                        .case_description
                            | In this case datepicker waits for remote data (which will be loaded at 2 sec).
                            | Data provided with "delayedDemoData" object and result saves to the "resultDelayedModel" object.
                        form#demo_remote_form(name="demo_remote_form")
                            .form-group
                                label.control-label(for="bdatepicker_2") Date
                                bdatepicker(b-input-id="bdatepicker_2", b-model="resultDelayedModel", b-source="delayedDemoData")
                            button.btn.btn-info(type="submit")
                                | The result is
                                | &nbsp;
                                span(ng-bind="resultDelayedModel")
                    section#linked_data_case
                        hgroup
                            h1 Wait for remote data case
                            h3 Datepicker wait for remote data
                        .case_description
                            | In this case two datepickers and one simple text input use same model.
                            | Data provided with "demoData" object and result saves to the "resultLinkedModel" object.
                        form#demo_linked_form(name="demo_linked_form")
                            .form-group
                                label.control-label(for="bdatepicker_3") Linked Date 1
                                bdatepicker(b-input-id="bdatepicker_3", b-model="resultLinkedModel", b-source="demoData")
                            .form-group
                                label.control-label(for="bdatepicker_4") Linked Date 2
                                bdatepicker(b-input-id="bdatepicker_4", b-model="resultLinkedModel", b-source="demoData")
                            .form-group
                                label.control-label(for="inp_2") Linked Date 3
                                input#inp_2.form-control(type="text", ng-model="resultLinkedModel")
                            .form-group
                                label.control-label(for="inp_4") Not linked
                                input#inp_4.form-control(type="text")
                            button.btn.btn-info(type="submit")
                                | The result is
                                | &nbsp;
                                span(ng-bind="resultLinkedModel")
                    footer.site-footer
                        span.site-footer-owner
                            a(href='https://github.com/Light241/bdate') Bdate
                            |  is maintained by
                            a(href='https://github.com/Light241') Light241
                            | .
                        span.site-footer-credits
                            | This page was generated by
                            a(href='https://pages.github.com') GitHub Pages
                            |  using the
                            a(href='https://github.com/jasonlong/cayman-theme') Cayman theme
                            |  by
                            a(href='https://twitter.com/jasonlong') Jason Long
                            | .