.b_popup(ng-hide="isHidden")
    .b_popup_controls
        button.b_popup_btn.b_btn_prev(type="button") <
        .b_popup_month(ng-bind="data.current.month.name")
        |&nbsp;
        .b_popup_year(ng-bind="data.current.year")
        button.b_popup_btn.b_btn_next(type="button") >
    .b_popup_days
        .b_popup_day_of_week(ng-repeat="dayOfWeek in ::data.daysOfWeekShorts")
            span(ng-bind="::dayOfWeek")
    table.b_popup_weeks
        tr.b_popup_week
            td.b_popup_day(ng-repeat="day in data.getDaysForMonths(data.viewedMonth.days_total, data.viewedMonth.start) track by $index")
                span(ng-bind="day")
    .b_popup_today
        | Сегодня 
        | &nbsp;
        span(ng-bind="getToday() | date:'dd-MM-yyyy'")