.b_popup(ng-hide="isHidden")
    .b_popup_controls
        button.b_popup_btn.b_btn_prev(type="button") <
        .b_popup_month Февраль
        .b_popup_year 2015
        button.b_popup_btn.b_btn_next(type="button") >
    .b_popup_days
        .b_popup_day_of_week(ng-repeat="dayOfWeek in ::data.daysOfWeekShorts")
            span(ng-bind="::dayOfWeek")
    .b_popup_weeks
        .b_popup_week(ng-repeat="week in data.viewedMonth")
            .b_popup_days
                .b_popup_day(ng-repeat="day in week")
    .b_popup_today
        | Сегодня
        | &nbsp;
        span(ng-bind="data.source.today | date:'dd-MM-yyyy'")