.b_popup(ng-hide="isHidden")
    button(type="button") <
    .b_popup_month Февраль
    .b_popup_year 2015
    button(type="button") >
    .b_popup_weeks
        .b_popup_week
            .b_popup_days
                .b_popup_day 1
                .b_popup_day 2
                .b_popup_day 3
                .b_popup_day 4
                .b_popup_day 5
                .b_popup_day 6
                .b_popup_day 7
        .b_popup_week
            .b_popup_days
                .b_popup_day 1
                .b_popup_day 2
                .b_popup_day 3
                .b_popup_day 4
                .b_popup_day 5
                .b_popup_day 6
                .b_popup_day 7