b_control_height = 25px
bg_color = white
bg_day_color = #2980b9
bg_holiday_color = #ea6153
bg_selected_day_color = #0089EC
text_color = #373737

.b_popup
  width 235px
  background-color bg_color
  box-shadow: 0 0 15px #646464;
  border: 1px solid rgb(171, 171, 171);
  position absolute
  color text_color
  border-bottom-right-radius 3px
  border-bottom-left-radius 3px
  .b_popup_controls
    text-align center
    height b_control_height
    margin-bottom 5px
    *
      text-align center
    .b_popup_btn
      min-height b_control_height
    .b_btn_prev_container
      float left
      .b_btn_prev
        display inline-block
    .b_btn_next_container
      float right
      .b_btn_next
        display inline-block
    .b_popup_month
      display inline-block
      cursor pointer
      line-height b_control_height
    .b_popup_year
      display inline-block
      cursor pointer
    .b_popup_btn
      border 1px solid darken(bg_day_color, 5)
      background-color bg_day_color
  .b_popup_days
    margin 10px 30px
  .b_popup_weeks
    margin 10px 30px
    .b_popup_week
      .b_popup_day
        width 22px
        height 23px
        display inline-block
        margin 1px
        .b_popup_day_btn
          color lighten(text_color, 40)
          border 1px solid white
          background-color white
          outline 0
          display inline-block
          width 22px
          height 23px
          text-align center
          padding 0
          &.b_popup_cur_month_day
            color text_color
            border 1px solid white
            background-color white
            cursor pointer
            &:hover
              background-color #ebebeb
              outline 0
            &:active
              background-color #ebebeb
              outline 0
            &:hover, &:active, &:focus, &:active:focus
              outline 0
          &.b_popup_today_day
            color red
          &.b_popup_selected_day
            color white
            border 1px solid bg_selected_day_color
            background-color bg_selected_day_color
  .b_popup_day_of_week
    display inline-block
    width 22px
    height 23px
    text-align center
    margin 1px
    background-color white
    &:nth-child(6), &:nth-child(7)
      background-color darken(white, 5)
  .b_popup_today
    text-align center
    margin 5px
    cursor pointer
    .b_popup_today_btn
      background none
      border none
      outline none
      &:active
        box-shadow none
      &:hover, &:active, &:focus, &:active:focus
        text-decoration underline
        outline none