b_control_height = 25px
bg_color = #16a085
bg_day_color = #2980b9
bg_holiday_color = #ea6153

.b_popup
  width 200px
  background-color bg_color
  position absolute
  color white
  border-bottom-right-radius 3px
  border-bottom-left-radius 3px
  .b_popup_controls
    text-align center
    height b_control_height
    margin-bottom 5px
    *
      text-align center
    .b_popup_btn
      min-height b_control_height
    .b_btn_prev
      float left
    .b_btn_next
      float right
    .b_popup_month
      display inline-block
      cursor pointer
      line-height b_control_height
    .b_popup_year
      display inline-block
      cursor pointer
    .b_popup_btn
      border 1px solid darken(bg_day_color, 5)
      background-color bg_day_color
  .b_popup_weeks
    text-align center
    margin 15px
    .b_popup_week
      .b_popup_day
        border 1px solid darken(bg_day_color, 5)
        background-color bg_day_color
        border-radius 100%
        display inline-block
        width 22px
        height 23px
        text-align center
        margin 1px
        cursor pointer
        //&:nth-child(6n), &:nth-child(7n)
        //  background-color bg_holiday_color
        //  border 1px solid darken(bg_holiday_color, 5)
        &:hover
          background-color lighten(bg_day_color, 5)
        &:active
          background-color darken(bg_day_color, 5)
  .b_popup_day_of_week
    display inline-block
    margin 3px
    &:nth-child(6), &:nth-child(7)
      color red
  .b_popup_today
    text-align center
    margin 5px
    cursor pointer