.b_popup
  height 200px
  width 200px
  background-color #5fa063
  position absolute
  color white
  .b_popup_controls
    *
      display inline-block
      text-align center
    .b_popup_btn
      border 1px solid black
      color red
  .b_popup_weeks
    border 1px solid black
    .b_popup_week
      .b_popup_days
        .b_popup_day
          border 1px solid black
          display inline-block
          width 20px
          height 20px
          text-align center
