.b_range_popup_back
  box-shadow 2px 4px 13px -2px #646464
  position relative
  height 300px
  width 560px
  .b_popup
    position initial
    display inline-block
    box-shadow none
  .ok_btn
    margin-top 5px
    margin-right 15px
    float right
    //&.b_range_popup_start
    //&.b_range_popup_end
      //left 279px