.b_range_popup_back
  box-shadow 2px 4px 13px -2px #646464
  position relative
  height 300px
  width 559px
  .b_popup
    box-shadow none
    //&.b_range_popup_start
    &.b_range_popup_end
      left 279px